
.creation-page {
  display: flex;
  flex-direction: column;
  .home-content-box{
    flex: 1;
    height: 50px;
    padding: 0 24px;
    .home-content{
        height: 100%;
        background-color: #fff;
        border-radius: 24px;
        padding: 24px;
        box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);
    }
  }
  .home-timbre-box{
    margin-top: 20px;
  }
  .home-footer{
    padding: 0 24px;
    padding-bottom: 40px;
    .footer-box{
        display: flex;
        justify-content: space-start;
        margin-top: 32px;
        .footer-set{
            display: flex;
            margin-right: 32px;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            Text{
                color: #666;
            }
            .iconfont{
                margin-right: 16px;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .action-button{
        flex-grow: 1;
        margin-right: 24px;
        font-weight: bold;
        &:last-child{
            margin-right: 0;
        }
        &.max{
            flex-grow: 1;
            margin-right: 24px;
        }
    }
  }
}