.voice-settings {
  padding: 24px;
  padding-bottom: var(safe-area-inset-bottom);
    display: flex;
    flex-direction: column;
    .slider-box{
        flex-grow: 1;
    }
    .footer-action{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }
  .slider-item {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    .slider-volume{
        flex-grow: 1;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .slider-label {
      font-size: 28px;
      color: #333;
      margin-bottom: 16px;
    }
  }
  .footer-action{
    margin-top: 24px;
    .custom-button{
        flex-grow: 1;
        margin-right: 32px;
        &:last-child{
            margin-right: 0;
        }
    }
  }
}